.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title-contact {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}

.card {
    height: 50rem;
    width: 100%;
    // background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border: 1px solid gray
}

.addContact {
    position: absolute;
    bottom: 2rem;
    right: 4rem;
}